body, input, textarea, select {
  font: 18px/1.5 Quattrocento Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: Raleway, sans-serif;
}

a {
  color: #5a9fd4;
}

a:hover {
  color: #5a9fd4;
}

button {
  background-color: #ffd43b;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
  color: #222;
  font-weight: 400;
}

button:hover {
  background-color: #5a9fd4;
}

header {
  background: url(../images/splash.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 300px 0;
}

header h1,
header h2 {
  color: white;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
}

header h1 {
  font-size: 200px;
  font-weight: 900;
}

header h2 {
  font-size: 64px;
  letter-spacing: 5px;
}

header h2 span {
  font-size: 77px;
}

header .with-logo {
  display: inline-block;
  background: url(../images/pythonph.png) no-repeat left center;
  padding-left: 284px;
}

nav {
  background-color: #5a9fd4;
  z-index: 10;
}

nav ul li {
  padding-bottom: 0 !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

nav li a {
  color: white;
  display: inline-block;
  line-height: 2em;
  padding: 0 0.5em;
  border: 3px solid white;
  width: 100%;
  margin: 1em 0;
}

nav li a:hover {
  color: #ffd43b;
  border-color: #ffd43b;
}

.about {
  padding: 100px 0;
}

.about .description {
  font-size: 150%;
}

.date-and-venue {
  padding: 100px 0;
  text-align: center;
}

.date-and-venue h3 {
  font-family: Lora, serif;
  border-bottom: 1px solid #111;
  margin-bottom: 30px;
  font-weight: 400;
}

.cal {
  font-family: Raleway, sans-serif;
  display: inline-block;
  width: 10em;
  text-align: center;
}

.cal span {
  display: block;
  width: 100%;
}

.cal .m,
.cal .y {
  line-height: 2em;
  background-color: #5a9fd4;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.cal .d {
  font-size: 6em;
  line-height: 1;
}

.calls {
  color: white;
  background-color: #222;
  padding: 30px 0;
}

.calls h3 {
  color: white;
}

footer {
  padding: 30px 0;
}

footer .links {
  font-size: 80%;
}

footer .links ,
footer .links a {
  color: #999;
}

footer .links a:hover {
  color: #222;
}
