body, input, textarea, select {
  font: 18px/1.5 Quattrocento Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6, .button {
  font-family: Raleway, sans-serif;
}

a {
  color: #5a9fd4;
}

a:hover {
  color: #5a9fd4;
}

.button {
  border-radius: 0;
  background-color: #ffd43b;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  color: #222;
  font-weight: 400;
}

.button:hover {
  background-color: #5a9fd4;
}

footer {
  text-align: center;
  padding: 2em 0;
}

footer .links {
  font-size: 0.8em;
}

footer .links ,
footer .links a {
  color: #999;
}

footer .links a:hover {
  color: #222;
}

/* Index Page */

.index header {
  background: url(../images/splash.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  position: relative;
}

.index header .text {
  width: 100%;
  position: absolute;
}

.with-logo {
  max-width: 62.5rem;
  display: inline-block;
  background: url(../images/pythonph.png) no-repeat left center;
  padding-left: 16em;
}

.with-logo h1,
.with-logo h2 {
  color: white;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
}
.with-logo h1 {
  font-size: 12em;
  font-weight: 900;
}

.with-logo h2 {
  font-size: 4em;
  letter-spacing: 0.08em;
}

.with-logo h2 span {
  font-size: 1.1em;
}

.index nav {
  background-color: #5a9fd4;
  padding: 1em 0;
  z-index: 10;
}

.index nav li {
  padding-bottom: 0 !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.index nav li a {
  color: inherit;
  display: inline-block;
  line-height: 2;
  padding: 0 0.5em;
  border: 3px solid;
  width: 100%;
}

.index nav li a:hover {
  color: #ffd43b;
  border-color: #ffd43b;
}

.about {
  padding: 5em 0;
}

.about .description {
  font-size: 1.5em;
}

.about .coc {
  padding-top: 5em;
  text-align: center;
}

.pycon-ph-2012 {
  padding: 5em 0;
  background: #eee url(../images/pyconph2012.jpg) no-repeat;
  background-size: cover;
}

.pycon-ph-2012 .photos img {
  border: 3px #eee solid;
}

.speakers {
  padding: 5em 0;
  text-align: center;
}

.speakers h3 {
  font-size: 3em;
  margin-bottom: 1.5em;
}

.speakers h4 {
  margin-bottom: 1em;
}

.speakers img {
  border-radius: 128px;
}

.speakers .bio {
  border-left: 1px #eee solid;
  padding-left: 1em;
  text-align: left;
}

.date-and-venue {
  font-family: Lora, serif;
  background: url(../images/dlsu.jpg) no-repeat;
  background-size: cover;
  padding: 15em 0;
  position: relative;
}

.date-and-venue h3 {
  font-family: Lora, serif;
  border-bottom: 1px solid #111;
  margin-bottom: 2em;
  font-weight: 400;
}

.date-and-venue .row {
  padding: 2em;
  background: white;
  background: rgba(255, 255, 255, 0.8);
}

.date-and-venue .details {
  margin-bottom: 2em;
}

.cal {
  border: 1px #9c9 solid;
  display: inline-block;
  width: 10em;
  text-align: center;
  margin-bottom: 2em;
}

.cal span {
  display: block;
  width: 100%;
}

.cal .m,
.cal .y {
  line-height: 2;
  background-color: #9c9;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.cal .d {
  font-size: 3em;
  line-height: 2;
}

.date-and-venue .attribution {
  color: #9c9;
  line-height: 1;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-style: italic;
}

.tickets {
  padding: 5em 0;
}

.tickets h4 {
  font-weight: 400;
}

.get-involved {
  color: white;
  background-color: #222;
  padding: 2em 0;
}

.get-involved h3 {
  color: white;
}

/* Media queries */

@media only screen and (max-width: 40em) {
  section {
    padding: 3em 1.5em !important
  }
  .with-logo {
    padding: 18em 0 0 0;
    background-position: center top;
  }
  .with-logo h1 {
    font-size: 4em;
  }
  .with-logo h2 {
    font-size: 1.33em;
  }
  .date-and-venue {
    text-align: center;
  }
  .date-and-venue .row {
    padding: 1em 0;
  }
}

/* Pages */

.page header {
  border-bottom: 1px solid #5a9fd4;
  margin-bottom: 2em;
}

.page header h1 {
  font-size: 1.5em;
}
