<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PyCon Philippines 2014</title>
  {% block css %}
  <link rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700italic,700">
  <link rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Raleway:300,400,700,900">
  <link rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/css/normalize.min.css">
  <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/css/foundation.min.css">
  <link rel="stylesheet" href="/theme/css/styles.css">
  {% endblock %}
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/vendor/custom.modernizr.min.js"></script>
</head>
<body class="{{ page_name or 'page ' + page.slug }}">
  {% block content %}{% endblock %}
  {% block footer %}
  <footer>
    <div class="row">
      <div class="large-centered large-6 columns">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="http://python.us3.list-manage2.com/subscribe/post?u=ff8bbdf3900c2c0f4dca97052&amp;id=dd30ee8c8f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="mce-EMAIL">
            <h4>Want to get updates about PyCon PH 2014?</h4>
          </label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div>
        <!--End mc_embed_signup-->
        <div class="links">
          Website by
          <a href="http://python.ph">Python.PH Inc.</a>
          &mdash;
          <a href="https://www.facebook.com/groups/pythonph">Facebook</a>
          &mdash;
          <a href="https://twitter.com/pythonph">@pythonph</a>
          &mdash;
          <a href="https://twitter.com/pyconph">@pyconph</a>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
  {% block js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/vendor/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>
  {% endblock %}
</body>
</html>
