{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/theme/css/index.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono">
{% endblock %}

{% block js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.11/skrollr.min.js"></script>
<script src="/theme/js/jquery.sticky-kit.min.js"></script>
<script>
  function resize() {
    $('header').css('height', window.innerHeight);
    var $headerText = $('header .text');
    $headerText.css('top', (window.innerHeight - $headerText.innerHeight()) / 2);
    $(document.body).trigger('sticky_kit:recalc');
  }
  window.onresize = resize;
  resize();
  $('nav').stick_in_parent();
  skrollr.init();
</script>
{% endblock %}

{% block content %}
<div id="skrollr-body">

<header
  data-start="background-position-y:0%"
  data-top-bottom="background-position-y: 100%"
  >
  <div class="text">
    <div class="with-logo">
      <h1>PyCon</h1>
      <h2>Philippines <span>2014</span></h2>
    </div>
  </div>
</header>
<nav
  data-center-center="color:rgb(90,159,212);background-color:rgb(255,255,255)"
  data-top="color:rgb(255,255,255);background-color:rgb(90,159,212)"
  class="hide-for-small-only"
  >
  <div class="row">
    <div class="large-12 columns">
      <ul class="large-block-grid-6">
        <li><a href="#about">About</a></li>
        <li><a href="#pycon-ph-2012">PyCon PH 2012</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#date-and-venue">Date and Venue</a></li>
        <li><a href="#tickets">Tickets</a></li>
      </ul>
    </div>
  </div>
</nav>
<section id="about" class="about">
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="description">
        <h3>PyCon Philippines</h3>
        <p>PyCon Philippines is a <a href="/pages/volunteers.html">volunteer</a>-run, not-for-profit conference centered around the Python
        Programming language.</p>
        <p>The main goal of this conference is to provide a venue where the Python programming language
        and surrounding technologies can be explored, discussed and exercised.</p>
        <p>At the same time an underlying interest would be to gather software engineers, programming
        enthusiasts, startup founders, corporate IT decision makers, students and IT educators in a
        2-day event where they can collaborate and learn from each other.</p>
      </div>
      <div class="coc">
        <p>
          PyCon PH 2014 is dedicated to a harassment-free conference experience for everyone.<br>
          <a href="/pages/code-of-conduct.html">Read our anti-harassment policy.</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="pycon-ph-2012" class="pycon-ph-2012"
  data-bottom-top="background-position-y:0%"
  data-top-bottom="background-position-y:100%"
  >
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-8 columns">
          <h3>PyCon PH 2012</h3>
          <p>
            The first Python Conference in the Philippines was held last June 30 to July 1 2012 in UP
            Diliman. Spearheaded by Frank and Ann Pohlmann of Auberon Solutions, it was a huge success
            in spite of a short amount of time we had for the preparation. The conference was graced
            upon representatives from the Python Software Foundation (PSF) and a turnout of roughly
            240 students and professionals across the country. It was truly an inspiring event with a
            diverse audience and a distinct spirit of volunteerism that made it happen.
          </p>
        </div>
        <div class="large-4 columns">
          <h4>Speakers</h4>
          <ul class="no-bullet">
            <li>Audrey Roy</li>
            <li>Bryan Veloso</li>
            <li>Cocoy Quillo</li>
            <li>Daniel Greenfeld</li>
            <li>Malcolm Tredinnick</li>
            <li>Marconi Moreto</li>
            <li>Paolo Barazon</li>
            <li>Sony Valdez</li>
          </ul>
        </div>
      </div>
      <div class="photos hide-for-small-only">
        <ul class="clearing-thumbs" data-clearing>
          <li><a href="/images/pyconph2012/1.jpg"><img src="/images/pyconph2012/th/1.jpg"></a></li>
          <li><a href="/images/pyconph2012/2.jpg"><img src="/images/pyconph2012/th/2.jpg"></a></li>
          <li><a href="/images/pyconph2012/3.jpg"><img src="/images/pyconph2012/th/3.jpg"></a></li>
          <li><a href="/images/pyconph2012/4.jpg"><img src="/images/pyconph2012/th/4.jpg"></a></li>
          <li><a href="/images/pyconph2012/5.jpg"><img src="/images/pyconph2012/th/5.jpg"></a></li>
          <li><a href="/images/pyconph2012/6.jpg"><img src="/images/pyconph2012/th/6.jpg"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="speakers" class="speakers">
  <div class="row">
    <div class="large-12 columns">
      <h3>Speakers</h3>
      <ul class="large-block-grid-3">
        <li>
          <h4>Russell Keith-Magee</h4>
          <p><img src="/images/speakers/russell.jpg"></p>
          <p class="bio">
            Dr Russell Keith-Magee is an 8 year veteran of the
            <a href="https://www.djangoproject.com/">Django</a>
            core team, and has been president of the
            <a
              href="https://www.djangoproject.com/foundation/">Django Software Foundation</a>
            since 2010. He's also the founder of
            <a href="http://pybee.org/">BeeWare</a>,
            a project developing graphical tools supporting Python development. His day job is as CTO of
            <a href="https://tradescloud.com/">TradesCloud</a>,
            a SaaS business developing tools for plumbers and electricians.
          </p>
        </li>
        <li>
          <h4>Daryl Yu</h4>
          <p><img src="/images/speakers/dyu.jpg"></p>
          <p class="bio">
          Daryl is a sysad who likes to pretend he's a programmer; sometimes he
          wonders if it's the other way around. He takes care of the servers at
          <a href="http://www.engagespark.com/">engageSPARK</a>
          and also co-organizes
          <a href="http://pizzapy.ph/">PizzaPy.ph</a>
          - a free monthly meetup for Python and software enthusiasts - in his
          island of Cebu. He has an unhealthy obsession with food, the sea, and
          Battlestar Galactica.
          </p>
        </li>
        <li>
          <h4>Stephanie Sy</h4>
          <p><img src="/images/speakers/stef.jpg"></p>
          <p class="bio">
            Stephanie graduated from Stanford University in 2011
            with a degree in Management Science and Engineering, focusing on
            Statistics. She worked on data products at Bay Area tech startup
            <a href="http://www.wildfireapp.com/">Wildfire Interactive</a>
            and at Google before returning to the Philippines.
            Currently, she's the Systems and Analytics Officer at
            <a href="http://www.focusglobalinc.com/">Focus Global Inc.</a>
          </p>
        </li>
        <li>
          <h4>Mr Valdez</h4>
          <p><img src="/images/speakers/mrvaldez.jpg" class="mrvaldez"></p>
          <p class="bio">
            Mr Valdez is the president of Agoo Computer College, a small school in
            a small town. He teaches <em>The Programming</em>. He also teach masters
            students at the
            <a href="http://www.uc-bcf.edu.ph/">University of the Cordilleras</a>.
            Mr Valdez learned how to code from video games programming where he took an arrow to the
            knee. We have no idea what his first name is.
          </p>
        </li>
        <li>
          <h4>Eric Holscher</h4>
          <p><img src="/images/speakers/eric.jpg"></p>
          <p class="bio">
            Eric is a maintainer of
            <a href="https://readthedocs.org/">Read the Docs</a>, an
            <a href="https://github.com/rtfd/readthedocs.org">open source</a>
            documentation hosting service, and co-creator of
            <a href="http://write-the-docs.readthedocs.org/en/latest/">Write the Docs</a>.
            He also lived in the woods for over 2 months while walking
            800 miles of the Pacific Crest Trail in 2013.
          </p>
        </li>
        <li>
          <h4>Charmyne Mamador</h4>
          <p><img src="/images/speakers/cham.jpg"></p>
          <p class="bio">
            Charmyne is a graduating student of BS Geodetic Engineering,
            <a href="http://www.upd.edu.ph/">UP Diliman</a>.
            She currently works as a student assistant in
            SOS-UP3DGIS project, which aims to launch a 3D campus map of UP
            Diliman. Enjoys long walks, yoga and video editing.
          </p>
        </li>
        <li>
          <h4>Ann Tan-Pohlmann</h4>
          <p><img src="/images/speakers/ann.jpg"></p>
          <p class="bio">
            Ann is a Computer Engineering graduate and an ex-MSCS
            student of DLSU.  She is the CEO of
            <a href="http://www.auberonsolutions.com/">Auberon Solutions</a>
            and one of the Mompreneurs behind
            <a href="http://imaginatoys.ph/">Imaginatoys</a>.
            Her fascination with NLP is brought about by her passion for languages;
            she speaks 8 languages and is a part-time MA in German student at UP Diliman.
          </p>
        </li>
        <li>
          <h4>Ranel Padon</h4>
          <p><img src="/images/speakers/ranel.jpg"></p>
          <p class="bio">
            Engr Ranel Padon has a BS Geodetic Engineering degree and has taken
            units in MS Computer Science, both in UP Diliman. He is a long-time
            faculty member of
            <a href="http://dge.upd.edu.ph/dge/">UP DGE</a> and
            <a href="http://www.upnec.com/">UP NEC</a>, and a frequent resource
            speaker in numerous seminars and trainings. He now works as a Drupal
            developer for CNN Travel and a Python lecturer.
          </p>
        </li>
        <li>
          <h4>Jon Danao</h4>
          <p><img src="/images/speakers/jon.jpg"></p>
          <p class="bio">
            Jon is the Head of Technology for Innovations at
            <a href="http://www.abs-cbn.com/">ABS-CBN</a>'s Digital
            Media Division. He played lead guitars for a local band in Manila
            called Bridge. He is strong in blues, rock and roll, and showmanship.
            Terrible in second voice. He loves to cook and went to culinary school.
            He is strong in Asian cuisine and any food with patis (fish sauce) and
            chili.
          </p>
        </li>
      </ul>
      <h4>More speakers to be announced!</h4>
    </div>
  </div>
</section>
<section id="schedule" class="schedule">
  <div class="row">
    <div class="large-12 columns">
      <h3>Schedule</h3>
      <h4>Day 1 - February 22, 2014 (Saturday)</h4>
      <table>
        <thead>
          <tr>
            <th>Time</th>
            <th>Schedule</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>08:00 AM - 08:30 AM</td>
            <td>Registration</td>
          </tr>
          <tr>
            <td>08:30 AM - 08:45 AM</td>
            <td>National Anthem and Opening Remarks by Andrew Paulo Robillo</td>
          </tr>
          <tr>
            <td>08:45 AM - 09:00 AM</td>
            <td>Message from the President of Python.PH</td>
          </tr>
          <tr>
            <td>09:00 AM - 10:00 AM</td>
            <td>Eulogy for Malcolm Tredinnick and Keynote by Russel
              Keith-Magee</td>
          </tr>
          <tr>
            <td>10:00 AM - 10:15 AM</td>
            <td>Snacks</td>
          </tr>
          <tr>
            <td>10:15 AM - 11:00 AM</td>
            <td>An Introduction to Python by Daryl Yu</td>
          </tr>
          <tr>
            <td>11:00 AM - 11:45 AM</td>
            <td>Practical Data Gathering with Python by Stephanie Sy</td>
          </tr>
          <tr>
            <td>11:45 AM - 12:45 PM</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>12:45 PM - 01:45 PM</td>
            <td>Game Programming with Python by Mr. Valdez</td>
          </tr>
          <tr>
            <td>01:45 PM - 02:45 PM</td>
            <td>Introduction to Sphinx and Read the Docs by Eric Holscher</td>
          </tr>
          <tr>
            <td>02:45 PM - 03:35 PM</td>
            <td>Image Analysis in Python by Charmyne Buenviaje Mamador</td>
          </tr>
          <tr>
            <td>03:35 PM - 04:00 PM</td>
            <td>Coffee/Tea break</td>
          </tr>
          <tr>
            <td>04:00 PM - 04:45 PM</td>
            <td>Natural Language Processing + Python by Ann Tan-Pohlmann</td>
          </tr>
          <tr>
            <td>04:45 PM - 05:45 PM</td>
            <td>Geocomputation (Automated and Rapid Mass Valuation of Land) by
              Ranel Padon</td>
          </tr>
          <tr>
            <td>05:45 PM - 06:00 PM</td>
            <td>Closing Remarks by Andrew Paulo Robillo</td>
          </tr>
        </tbody>
      </table>
      <h4>Day 2 - February 23, 2014 (Sunday)</h4>
      <div class="row">
        <div class="large-8 columns">
          <table>
            <thead>
              <tr>
                <th>Time</th>
                <th>Schedule</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>08:30 AM - 09:00 AM</td>
                <td>Talk (details TBA)</td>
              </tr>
              <tr>
                <td>09:00 AM - 10:00 AM</td>
                <td>Show Off Your Python / Lightning Talks</td>
              </tr>
              <tr>
                <td>10:00 AM - 12:00 PM</td>
                <td>
                  <ul class="no-bullet">
                    <li><span class="label secondary">Track 1</span> Sprints</li>
                    <li><span class="label secondary">Track 2</span> Django Workshops by Jon Danao</li>
                    <li><span class="label secondary">Track 3</span> Python for Beginners Workshop</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>12:00 PM - 01:00 PM</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>01:00 PM - 05:30 PM</td>
                <td>
                  <ul class="no-bullet">
                    <li><span class="label secondary">Track 1</span> Sprints (cont.)</li>
                    <li><span class="label secondary">Track 2</span> Django Workshops by Jon Danao (cont.)</li>
                    <li><span class="label secondary">Track 3</span> Python for Beginners Workshop (cont.)</li>
                  </ul>
              </tr>
              <tr>
                <td>05:30 AM - 06:00 PM</td>
                <td>Closing Remarks</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="large-4 columns">
          <p class="panel">
            Sprints are an opportunity to contribute to Python open-source projects
            and a chance to learn from others.<br>
            Python programmers of all levels are strongly encouraged to attend.
          </p>
          <p class="panel">
            Workshops are for those who wish to learn how to code in Python after
            listening to Day 1’s talks.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="date-and-venue" class="date-and-venue"
  data-bottom-top="background-position-x:0%"
  data-top-bottom="background-position-x: 100%"
  >
  <div class="row">
    <h3>Date and Venue</h3>
    <div class="details large-4 columns">
      <div class="cal">
        <span class="m">February</span>
        <span class="d">22-23</span>
        <span class="y">2014</span>
      </div>
      <div class="venue">
        <address>
          De La Salle University<br>
          2401 Taft Avenue<br>
          Manila 1004<br>
          Philippines<br>
          <a href="http://www.dlsu.edu.ph">http://www.dlsu.edu.ph</a>
        </address>
        <ul class="building inline-list">
          <li>Day 1: Henry Sy Hall</li>
          <li>Day 2: Gokongwei Classroom and Intellect Seminar Room</li>
        </ul>
      </div>
    </div>
    <div class="map large-8 columns">
      <iframe class="hide-for-small-only" src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x3397c97f2ea0318b%3A0x8e8eae0957d17c38!2sDe+La+Salle+University%2C+Taft+Avenue%2C+Manila%2C+Philippines!5e0!3m2!1sen!2s!4v1388981675876" width="600" height="450" frameborder="0" style="border:0"></iframe>
      <p class="show-for-small-only">
        <a href="https://goo.gl/maps/zHvgQ">View Map</a>
      </p>
    </div>
  </div>
  <div class="attribution">
    <small>Background image is a remix of http://www.flickr.com/photos/71673821@N00/348269810/</small>
  </div>
</section>
<section id="tickets" class="tickets">
  <div class="row">
    <div class="large-centered large-8 columns">
      <h3 class="sold-out">Sorry, but tickets are now sold out :)</h3>
    </div>
  </div>
</section>
<section id="sponsors" class="sponsors">
  <div class="organizers row">
    <h3>PyCon PH 2014 is brought to you by</h3>
    <div class="organizer large-6 columns">
      <p class="logo"><img src="/images/sponsors/pythonph.svg"></p>
      <p class="write-up">
        Python.PH, Inc. is a non-stock, non-profit company that aims to
        publicize and promote the use of the Python programming language and
        related technologies in the Philippines and support and facilitate the
        growth of the community of programmers.
      </p>
      <p class="write-up">
        Python.PH organizes monthly meet-ups and the yearly PyCon (Python
        Conference) that is open for members and the general public.
      </p>
    </div>
    <div class="organizer large-6 columns">
      <div class="row">
        <div class="large-centered large-10 columns">
          <div class="row">
            <div class="large-6 columns">
              <p class="logo">
                <a href="http://www.dlsu.edu.ph/">
                  <img src="/images/sponsors/dlsu.png">
                </a>
              </p>
            </div>
            <div class="large-6 columns">
              <p class="logo">
                <a href="http://www.dlsu.edu.ph/academics/colleges/ccs/default.asp">
                  <img src="/images/sponsors/dlsu-ccs.png">
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="write-up">
        DLSU College of Computer Studies, a Center of Excellence in IT
        Education, continues to be committed to its vision of continually
        sharing knowledge and expertise through teaching, engaging in Computer
        Science research and Information Technology product development, and
        rendering service to communities in need.
      </p>
      <p class="write-up">
        Aside from its intensive academic programs, DLSU CCS also participates
        actively in various Developer Community activities, adding value to
        their students' Lasallian education.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-centered large-8 columns">
      <h3>&hellip; our loving sponsors</h3>
      <div class="sponsors-list">
        <div class="platinum package">
          <h4>Platinum Sponsors</h4>
          <p class="logo">
            <a
              href="http://www.python.org/psf/"
              title="Python Software Foundation">
              <img src="/images/sponsors/psf.png">
            </a>
          </p>
          <p class="write-up">
            The Python Software Foundation (PSF) is a 501(c)(3)
            non-profit corporation that holds the intellectual property
            rights behind the Python programming language. We manage the
            open source licensing for Python version 2.1 and later and
            own and protect the trademarks associated with Python. We
            also run the North American
            <a href="http://us.pycon.org/">PyCon</a>
            conference annually,
            support other Python conferences around the world, and fund
            Python related development with our
            <a href="http://www.python.org/psf/grants/">grants program</a>
            and by funding special projects.
          </p>
          <p class="logo">
            <a
              href="http://www1.smart.com.ph/developer/"
              title="Smart DevNet">
              <img src="/images/sponsors/smart-devnet.png">
            </a>
          </p>
          <p class="write-up">
            The SMART Developer Network (also known as SMART DevNet) is
            <a href="">SMART Communications</a>'
            developer community program, targeted at developers on desktop and
            mobile platforms interested in using SMART's technology platforms such
            as network tools and APIs.  We promote general awareness of mobile
            apps development and "technopreneurship" thorough related groups like the
            <a href="">IdeaSpace Foundation</a>.
            We also strive to be a catalyst for fostering a vibrant developer
            community in the Philippines by organizing our own developer events
            as well as sponsoring other developer groups' events and meetups.
          </p>
        </div>
        <div class="gold package">
          <h4>Gold Sponsors</h4>
          <p class="logo">
            <a
              href="https://www.djangoproject.com/foundation/"
              title="Django Software Foundation">
              <img src="/images/sponsors/django.svg" width="326">
            </a>
          </p>
          <p class="write-up">
            The Django Software Foundation is a US-based non-profit
            organisation with the mission to promote, support, and advance the
            <a href="https://www.djangoproject.com/">Django Web framework</a>.
            The DSF sponsors sprints, meetups,
            gatherings and community events, and protects the intellectual
            property of the Django project.
          </p>
          <p class="logo">
            <a
              href="http://concentrix.com"
              title="Concentrix">
              <img src="/images/sponsors/concentrix.png">
            </a>
          </p>
          <p class="write-up">
            Concentrix offers many exciting employment opportunities that will take you as far as
            your ambition and desire can go. We specialize in technical support and new
            technology-related project initiatives, and we are expanding our call center service capabilities.
          </p>
        </div>
        <div class="silver package">
          <h4>Silver Sponsors</h4>
          <p class="logo">
            <a
              href="https://github.com"
              title="github">
              <img src="/images/sponsors/github.svg" width="247">
            </a>
          </p>
          <p class="write-up">
            GitHub is the best way to build software together.
            GitHub provides tools for easier collaboration and code
            sharing from any device. Start collaborating today
            &mdash; open source project hosting is free!
          </p>
        </div>
        <div class="bronze package">
          <h4>Bronze Sponsors</h4>
          <ul class="large-block-grid-2">
            <li>
              <p class="logo">
                <a
                  href="http://www.collabspot.com/"
                  title="Collabspot">
                  <img src="/images/sponsors/collabspot.svg" width="220">
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a
                  href="http://www.engagespark.com/"
                  title="engageSPARK">
                  <img src="/images/sponsors/engagespark.png">
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a
                  href="http://ingenuity.ph/"
                  title="Ingenuity">
                  <img src="/images/sponsors/ingenuity.svg" width="222">
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a
                  href="http://www.eastvantage.com/"
                  title="Eastvantage">
                  <img src="/images/sponsors/eastvantage.png">
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a
                  href="http://www.infoshiftinc.com/"
                  title="Infoshift Inc">
                  <img src="/images/sponsors/infoshift.png">
                </a>
              </p>
            </li>
          </ul>
        </div>
        <div class="partners package">
          <h4>Marketing Partners</h4>
          <ul class="large-block-grid-2">
            <li>
              <p class="logo">
                <a
                  href="https://www.digitalocean.com/"
                  title="DigitalOcean">
                  <img src="/images/sponsors/digital-ocean.svg" width="120">
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a
                  href="http://twoscoopspress.com/"
                  title="Two Scoops Press">
                  <img src="/images/sponsors/twoscoopspress.png">
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a
                  href="http://www.save22.com/"
                  title="Save22">
                  <img src="/images/sponsors/save22.png">
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a
                  href="http://www.freelancer.com/"
                  title="Freelancer.com">
                  <img src="/images/sponsors/freelancer.png">
                </a>
              </p>
            </li>
          </ul>
        </div>
        <div class="partners package">
          <h4>Technology Partner</h4>
          <ul class="large-block-grid-1">
            <li>
              <p class="logo">
                <a
                  href="http://www1.smart.com.ph/bro/"
                  title="SmartBRO">
                  <img src="/images/sponsors/smartbro.png">
                </a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h3>
    &hellip; and our tireless <a href="/pages/volunteers.html">volunteers</a>.
  </h3>
</section>
<section id="get-involved" class="get-involved">
  <div class="row">
    <div class="large-4 columns">
      <h3>Call for Sponsors</h3>
      <p>
        Want to be a sponsor for PyCon PH 2014? We need more generous souls to make this momentous
        event a reality.
      </p>
      <p>
        <a class="button" href="https://docs.google.com/forms/d/11RjXt8FBKtMWMdkDKXapMWieBUkAnSBD4qI5YoCtalw/viewform">
          Interested?
        </a>
      </p>
    </div>
    <div class="large-4 columns">
      <h3>Call for Proposals</h3>
      <p>
        Want to speak at PyCon PH 2014? We're now accepting
        proposals for talks, tutorials and lightning talks.
      </p>
      <p>
        <a class="button" href="https://docs.google.com/forms/d/1zGVk_GR1RpdI9eiOndsNnbsPYPSf1E3titgRVxF9BbA/viewform">
          Submit a Proposal
        </a>
      </p>
    </div>
    <div class="large-4 columns">
      <h3>Call for Volunteers</h3>
      <p>
        Want to take part in organizing the event?
        Great! We're more than happy to welcome you.
      </p>
      <p>
        <a class="button" href="https://docs.google.com/forms/d/1hBATzcRK-h1Jdb9k90lfErovHTNF8ApDISn9uGALKoI/viewform">
          Sign up
        </a>
      </p>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %}
{{ super() }}
</div>
{% endblock %}
