{% extends "base.html" %}

{% block content %}
<header data-top="background-position-y:50%" data-top-bottom="background-position-y: 100%">
  <div class="row">
    <div class="large-12 columns">
      <div class="with-logo">
        <h1>PyCon</h1>
        <h2>Philippines <span>2014</span></h2>
      </div>
    </div>
  </div>
</header>
<nav data-center-center="background-color:rgb(255,255,255)" data-top="background-color:rgb(90,159,212)">
  <div class="row">
    <div class="large-10 columns large-centered">
      <ul class="large-block-grid-4">
        <li><a href="#about">PyCon Philippines</a></li>
        <li><a href="#2012">PyCon PH 2012</a></li>
        <li><a href="#date-and-venue">Date and Venue</a></li>
        <li><a href="#tickets">Tickets</a></li>
      </ul>
    </div>
  </div>
</nav>
<section id="about" class="about">
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="description">
        <h3>PyCon Philippines</h3>
        <p>PyCon Philippines is a volunteer-run, not-for-profit conference centered around the Python Programming language.
        The quick brown fox jumps over the lazy dog. Python oil is good
        for the skin.</p>
        <p>This is another paragraph of dummy text. I don't have
        anything to say yet so here are some random sentences. Snakes and
        ladders is a game that's mainly based on luck.</p>
        <p>The third paragraph isn't usually read by people
        because I think so. Mosquitos are biting me at the
        moment. It's annoying.</p>
      </div>
    </div>
  </div>
</section>
<section id="date-and-venue" class="date-and-venue">
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="row">
        <div class="date large-4 columns">
          <h3>Date</h3>
          <div class="cal">
            <span class="m">February</span>
            <span class="d">22</span>
            <span class="y">2014</span>
          </div>
        </div>
        <div class="venue large-8 columns">
          <h3>Venue</h3>
          <address>
            To Be Announced
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="calls">
  <div class="row">
    <div class="large-4 columns">
      <h3>Call for Sponsors</h3>
      <p>
        Want to be a sponsor in PyCon PH 2014?
        Some more text so these boxes are of the same height.
      </p>
      <a class="button" href="https://docs.google.com/forms/d/11RjXt8FBKtMWMdkDKXapMWieBUkAnSBD4qI5YoCtalw/viewform">
        Interested?
      </a>
    </div>
    <div class="large-4 columns">
      <h3>Call for Proposals</h3>
      <p>
        Want to speak at PyCon PH 2014? We're now accepting
        proposals for talks, tutorials and lightning talks.
      </p>
      <a class="button" href="https://docs.google.com/forms/d/1zGVk_GR1RpdI9eiOndsNnbsPYPSf1E3titgRVxF9BbA/viewform">
        Submit a Proposal
      </a>
    </div>
    <div class="large-4 columns">
      <h3>Call for Volunteers</h3>
      <p>
        Want to take part in organizing the event?
        Great! We're more than happy to welcome you.
      </p>
      <a class="button" href="https://docs.google.com/forms/d/1hBATzcRK-h1Jdb9k90lfErovHTNF8ApDISn9uGALKoI/viewform">
        Sign up
      </a>
    </div>
  </div>
</section>
<footer>
  <div class="row">
    <div class="large-12 columns">
      <div class="links">
        Organized by
        <a href="http://python.ph">Python Philippines Inc.</a>
        &mdash;
        <a href="https://www.facebook.com/groups/pythonph">Facebook</a>
        &mdash;
        <a href="https://github.com/pythonph">Github</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
