{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/theme/css/index.css">
{% endblock %}

{% block js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.11/skrollr.min.js"></script>
<script src="/theme/js/jquery.sticky-kit.min.js"></script>
<script>
  function resize() {
    $('header').css('height', window.innerHeight);
    var $headerText = $('header .text');
    $headerText.css('top', (window.innerHeight - $headerText.innerHeight()) / 2);
    $(document.body).trigger('sticky_kit:recalc');
  }
  window.onresize = resize;
  resize();
  $('nav').stick_in_parent();
  skrollr.init();
</script>
{% endblock %}

{% block content %}
<div id="skrollr-body">

<header
  data-start="background-position-y:0%"
  data-top-bottom="background-position-y: 100%"
  >
  <div class="text">
    <div class="with-logo">
      <h1>PyCon</h1>
      <h2>Philippines <span>2014</span></h2>
    </div>
  </div>
</header>
<nav
  data-center-center="color:rgb(90,159,212);background-color:rgb(255,255,255)"
  data-top="color:rgb(255,255,255);background-color:rgb(90,159,212)"
  class="hide-for-small-only"
  >
  <div class="row">
    <div class="large-12 columns">
      <ul class="large-block-grid-5">
        <li><a href="#about">About</a></li>
        <li><a href="#pycon-ph-2012">PyCon PH 2012</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#date-and-venue">Date and Venue</a></li>
        <li><a href="#tickets">Tickets</a></li>
      </ul>
    </div>
  </div>
</nav>
<section id="about" class="about">
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="description">
        <h3>PyCon Philippines</h3>
        <p>PyCon Philippines is a volunteer-run, not-for-profit conference centered around the Python
        Programming language.</p>
        <p>The main goal of this conference is to provide a venue where the Python programming language
        and surrounding technologies can be explored, discussed and exercised.</p>
        <p>At the same time an underlying interest would be to gather software engineers, programming
        enthusiasts, startup founders, corporate IT decision makers, students and IT educators in a
        2-day event where they can collaborate and network with each other.</p>
      </div>
      <div class="coc">
        <p>
          PyCon PH 2014 is dedicated to a harassment-free conference experience for everyone.<br>
          <a href="/pages/code-of-conduct.html">Read our anti-harassment policy.</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="pycon-ph-2012" class="pycon-ph-2012"
  data-bottom-top="background-position-y:0%"
  data-top-bottom="background-position-y:100%"
  >
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-8 columns">
          <h3>PyCon PH 2012</h3>
          <p>
            The first Python Conference in the Philippines was held last June 30 to July 1 2012 in UP
            Diliman. Spearheaded by Frank and Ann Pohlmann of Auberon Solutions, it was a huge success
            in spite of a short amount of time we had for the preparation. The conference was graced
            upon representatives from the Python Software Foundation (PSF) and a turnout of roughly
            240 students and professionals across the country. It was truly an inspiring event with a
            diverse audience and a distinct spirit of volunteerism that made it happen.
          </p>
        </div>
        <div class="large-4 columns">
          <h4>Speakers</h4>
          <ul class="no-bullet">
            <li>Audrey Roy</li>
            <li>Bryan Veloso</li>
            <li>Cocoy Quillo</li>
            <li>Daniel Greenfeld</li>
            <li>Malcolm Tredinnick</li>
            <li>Marconi Moreto</li>
            <li>Paolo Barazon</li>
            <li>Sony Valdez</li>
          </ul>
        </div>
      </div>
      <div class="photos hide-for-small-only">
        <ul class="clearing-thumbs" data-clearing>
          <li><a href="/images/pyconph2012/1.jpg"><img src="/images/pyconph2012/th/1.jpg"></a></li>
          <li><a href="/images/pyconph2012/2.jpg"><img src="/images/pyconph2012/th/2.jpg"></a></li>
          <li><a href="/images/pyconph2012/3.jpg"><img src="/images/pyconph2012/th/3.jpg"></a></li>
          <li><a href="/images/pyconph2012/4.jpg"><img src="/images/pyconph2012/th/4.jpg"></a></li>
          <li><a href="/images/pyconph2012/5.jpg"><img src="/images/pyconph2012/th/5.jpg"></a></li>
          <li><a href="/images/pyconph2012/6.jpg"><img src="/images/pyconph2012/th/6.jpg"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="speakers" class="speakers">
  <div class="row">
    <div class="large-12 columns">
      <h3>Speakers</h3>
      <ul class="large-block-grid-3">
        <li>
          <h4>Russell Keith-Magee</h4>
          <p><img src="/images/speakers/russell.jpg"></p>
          <p class="bio">
            Dr Russell Keith-Magee is a 8 year veteran of the
            <a target="_blank" href="https://www.djangoproject.com/">Django</a>
            core team, and has been president of the
            <a target="_blank"
              href="https://www.djangoproject.com/foundation/">Django Software Foundation</a>
            since 2010. He's also the founder of
            <a target="_blank" href="http://pybee.org/">BeeWare</a>,
            a project developing graphical tools supporting Python development. His day job is as CTO of
            <a target="_blank" href="https://tradescloud.com/">TradesCloud</a>,
            a SaaS business developing tools for plumbers and electricians.
          </p>
        </li>
        <!--
        <li>
          <h4>Sony Valdez</h4>
          <p><img src="/images/speakers/sony.jpg"></p>
          <p class="bio">"Our neural pathways have become accustomed to your
            sensory input patterns."</p>
        </li>
        -->
        <li>
          <h4>Stephanie Sy</h4>
          <p><img src="/images/speakers/stef.jpg"></p>
          <p class="bio">
            Stephanie graduated from Stanford University in 2011
            with a degree in Management Science and Engineering, focusing on
            Statistics. She worked on data products at Bay Area tech startup
            <a target="_blank" href="http://www.wildfireapp.com/">Wildfire Interactive</a>
            and at Google before returning to the Philippines.
            Currently, she's the Systems and Analytics Officer at
            <a target="_blank" href="http://www.focusglobalinc.com/">Focus Global Inc.</a>
          </p>
        </li>
        <li>
          <h4>Eric Holscher</h4>
          <p><img src="/images/speakers/eric.jpg"></p>
          <p class="bio">
            Eric is a maintainer of
            <a target="_blank" href="https://readthedocs.org/">Read the Docs</a>, an
            <a href="https://github.com/rtfd/readthedocs.org">open source</a>
            documentation hosting service, and co-creator of
            <a target="_blank" href="http://write-the-docs.readthedocs.org/en/latest/">Write the Docs</a>.
            He also lived in the woods for over 2 months while walking
            800 miles of the Pacific Crest Trail in 2013.
          </p>
        </li>
        <li>
          <h4>Charmyne Mamador</h4>
          <p><img src="/images/speakers/cham.jpg"></p>
          <p class="bio">
            Charmyne is a graduating student of BS Geodetic Engineering,
            <a target="_blank" href="http://www.upd.edu.ph/">UP Diliman</a>.
            She currently works as a student assistant in
            SOS-UP3DGIS project, which aims to launch a 3D campus map of UP
            Diliman. Enjoys long walks, yoga and video editing.
          </p>
        </li>
        <li>
          <h4>Ann Tan-Pohlmann</h4>
          <p><img src="/images/speakers/ann.jpg"></p>
          <p class="bio">
            Ann is a Computer Engineering graduate and an ex-MSCS
            student of DLSU.  She is the CEO of
            <a target="_blank" href="http://www.auberonsolutions.com/">Auberon Solutions</a>
            and one of the Mompreneurs behind
            <a target="_blank" href="http://imaginatoys.ph/">Imaginatoys</a>.
            Her fascination with NLP is brought about by her passion for languages;
            she speaks 8 languages and is a part-time MA in German student at UP Diliman.
          </p>
        </li>
        <!--
        <li>
          <h4>Ranel Padon</h4>
          <p><img src="/images/speakers/ranel.jpg"></p>
          <p class="bio">BS Geodetic Engineering in UP Diliman as UP ERDFI
            Scholar;
            MS Computer Science (25/30 units) in UP Diliman;
            Lecturer, UP Department of Geodetic Engineering;
            Lecturer, UP National Engineering Center;
            Freelance Programmer;
            Involved in Java, Python, and Drupal projects.
          </p>
        </li>
        -->
      </ul>
      <h4>More speakers to be announced!</h4>
    </div>
  </div>
</section>
<section id="date-and-venue" class="date-and-venue"
  data-bottom-top="background-position-x:0%"
  data-top-bottom="background-position-x: 100%"
  >
  <div class="row">
    <h3>Date and Venue</h3>
    <div class="details large-4 columns">
      <div class="cal">
        <span class="m">February</span>
        <span class="d">22-23</span>
        <span class="y">2014</span>
      </div>
      <address>
        De La Salle University<br>
        2401 Taft Avenue<br>
        Manila 1004<br>
        Philippines<br>
        <a href="http://www.dlsu.edu.ph">http://www.dlsu.edu.ph</a>
      </address>
    </div>
    <div class="map large-8 columns">
      <iframe class="hide-for-small-only" src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x3397c97f2ea0318b%3A0x8e8eae0957d17c38!2sDe+La+Salle+University%2C+Taft+Avenue%2C+Manila%2C+Philippines!5e0!3m2!1sen!2s!4v1388981675876" width="600" height="450" frameborder="0" style="border:0"></iframe>
      <p class="show-for-small-only">
        <a href="https://goo.gl/maps/zHvgQ">View Map</a>
      </p>
    </div>
  </div>
  <div class="attribution">
    <small>Background image is a remix of http://www.flickr.com/photos/71673821@N00/348269810/</small>
  </div>
</section>
<section id="tickets" class="tickets">
  <div class="row">
    <div class="large-centered large-8 columns">
      <h3>Join us! Get your tickets now.</h3>
      <div class="eventbrite">
        <iframe src="http://www.eventbrite.com/tickets-external?eid=9179733831&ref=etckt&v=2"
          frameborder="0" height="306" width="100%" vspace="0" hspace="0"
          marginheight="5" marginwidth="5" scrolling="auto"
          allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</section>
<section id="sponsors" class="sponsors">
  <div class="row">
    <div class="large-12 columns">
      <div class="organizers row">
        <h3>PyCon PH 2014 is brought to you by</h3>
        <div class="large-6 columns">
          <p class="logo"><img src="/images/sponsors/pythonph.svg"></p>
          <p>Python PH, Inc.</p>
        </div>
        <div class="large-6 columns">
          <div class="row">
            <div class="large-5 push-1 columns">
              <p class="logo">
                <a target="_blank" href="http://www.dlsu.edu.ph/">
                  <img src="/images/sponsors/dlsu.png">
                </a>
              </p>
            </div>
            <div class="large-5 pull-1 columns">
              <p class="logo">
                <a target="_blank" href="http://www.dlsu.edu.ph/academics/colleges/ccs/default.asp">
                  <img src="/images/sponsors/dlsu-ccs.png">
                </a>
              </p>
            </div>
          </div>
          <p>DLSU College of Computer Studies</p>
        </div>
      </div>
      <div class="row">
        <div class="large-centered large-8 columns">
          <h3>&hellip;and our loving sponsors</h3>
          <div class="sponsors-list">
            <div class="platinum">
              <h4>Platinum Sponsors</h4>
              <ul class="large-block-grid-1">
                <li>
                  <p class="logo">
                    <a target="_blank"
                      href="http://www.python.org/psf/"
                      title="Python Software Foundation">
                      <img src="/images/sponsors/psf.png">
                    </a>
                  </p>
                  <p>
                    The Python Software Foundation (PSF) is a 501(c)(3)
                    non-profit corporation that holds the intellectual property
                    rights behind the Python programming language. We manage the
                    open source licensing for Python version 2.1 and later and
                    own and protect the trademarks associated with Python. We
                    also run the North American
                    <a target="_blank" href="http://us.pycon.org/">PyCon</a>
                    conference annually,
                    support other Python conferences around the world, and fund
                    Python related development with our
                    <a target="_blank" href="http://www.python.org/psf/grants/">grants program</a>
                    and by funding special projects.
                  </p>
                </li>
              </ul>
            </div>
            <div class="gold">
              <h4>Gold Sponsors</h4>
              <ul class="large-block-grid-1">
                <li>
                  <p class="logo">
                    <a target="_blank"
                      href="https://www.djangoproject.com/foundation/"
                      title="Django Software Foundation">
                      <img src="/images/sponsors/django.svg" width="326">
                    </a>
                  </p>
                  <p>
                    The Django Software Foundation is a US-based non-profit
                    organisation with the mission to promote, support, and advance
                    the Django Web framework. The DSF sponsors sprints, meetups,
                    gatherings and community events, and protects the intellectual
                    property of the Django project.
                  </p>
                </li>
              </ul>
            </div>
            <div class="silver">
              <h4>Silver Sponsors</h4>
              <ul class="large-block-grid-1">
                <li>
                  <p>
                    <a href="https://docs.google.com/forms/d/11RjXt8FBKtMWMdkDKXapMWieBUkAnSBD4qI5YoCtalw/viewform">
                      We need more Silver sponsors. Interested?
                    </a>
                  </p>
                </li>
              </ul>
            </div>
            <div class="bronze">
              <h4>Bronze Sponsors</h4>
              <ul class="large-block-grid-1">
                <li>
                  <p class="logo">
                    <a target="_blank"
                      href="http://www.collabspot.com/"
                      title="Collabspot">
                      <img src="/images/sponsors/collabspot.svg" width="290">
                    </a>
                  </p>
                </li>
              </ul>
            </div>
            <div class="partners">
              <h4>Marketing Partners</h4>
              <ul class="large-block-grid-1">
                <li>
                  <p class="logo">
                    <a target="_blank"
                      href="https://www.digitalocean.com/"
                      title="DigitalOcean">
                      <img src="/images/sponsors/digital-ocean.svg" width="160">
                    </a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="get-involved" class="get-involved">
  <div class="row">
    <div class="large-4 columns">
      <h3>Call for Sponsors</h3>
      <p>
        Want to be a sponsor for PyCon PH 2014? We need more generous souls to make this momentous
        event a reality.
      </p>
      <p>
        <a class="button" href="https://docs.google.com/forms/d/11RjXt8FBKtMWMdkDKXapMWieBUkAnSBD4qI5YoCtalw/viewform">
          Interested?
        </a>
      </p>
    </div>
    <div class="large-4 columns">
      <h3>Call for Proposals</h3>
      <p>
        Want to speak at PyCon PH 2014? We're now accepting
        proposals for talks, tutorials and lightning talks.
      </p>
      <p>
        <a class="button" href="https://docs.google.com/forms/d/1zGVk_GR1RpdI9eiOndsNnbsPYPSf1E3titgRVxF9BbA/viewform">
          Submit a Proposal
        </a>
      </p>
    </div>
    <div class="large-4 columns">
      <h3>Call for Volunteers</h3>
      <p>
        Want to take part in organizing the event?
        Great! We're more than happy to welcome you.
      </p>
      <p>
        <a class="button" href="https://docs.google.com/forms/d/1hBATzcRK-h1Jdb9k90lfErovHTNF8ApDISn9uGALKoI/viewform">
          Sign up
        </a>
      </p>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %}
{{ super() }}
</div>
{% endblock %}
